body {
  background: linear-gradient(to right, rgb(255, 132, 0), rgb(255, 0, 0)) fixed;
  font-family: 'Roboto', sans-serif;
  color: white;
}

input {
  outline-color: transparent;
  border-color: transparent;
  box-shadow: 0 0 3px black; 
  border-radius: 10px; 
}

input[type="submit"] {
  padding-left: 10px;
  padding-right: 10px;
  font-size: large;
  background-color: #FF8100;
  box-shadow: 0 0 10px black;
  color: white;
  margin: auto;
}

h1 {
  color: #FF8100;
  text-shadow: 0 0 5px black;
}

.signup {
  background: linear-gradient(red, rgb(255, 149, 0));
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 10px;
  box-shadow: 0 0 5px black;
  height: 30rem;
  width: 20rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.login {
  background: linear-gradient(red, rgb(255, 149, 0));
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 10px;
  box-shadow: 0 0 5px black;
  height: 30rem;
  width: 20rem;
  text-align: center;
  display: none;
  flex-direction: column;
}

.grid-inputs {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
}

.grid-inputs input {
  width: 11rem;
  margin: auto;
}

.buttons {
  width: 10rem;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  justify-content: center;
  align-items: center;
}


.fade-in {
  animation: fade-in 2s;
}

.fade-out {
  animation: fade-out 2s;
}

@keyframes fade-in {
  0%   {opacity: 0;}
  100% {opacity: 100%;}
}

@keyframes fade-out {
  0% {opacity: 100%;}
  100%   {opacity: 0;}
}