* {
  background-color: red;
  font-family: "Courier New", Courier, monospace;
  text-shadow: 3px 5px 10px black;
}

.main-header {
  color: blue;
  font-size: 50px;
  margin: auto;
  position: relative;
  text-align: center;
}

.random {
  color: white;
  padding: 10px;
  margin: auto;
  position: relative;
  text-align: center;
}
.images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
  box-shadow: 3px 5px 10px black;
}

@media screen and (max-width: 1080px) {
  .images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    box-shadow: 3px 5px 10px black;
  }
}

@media screen and (min-width: 912px) {
}

.checkboxes {
  color: black;
  padding: 10px;
  background-color: wheat;
  cursor: pointer;
  font-family: monospace;
  text-transform: uppercase;
}

.boxes {
  display: flex;
  margin: auto;
}

.result {
  color: white;
}
