@import url("https://fonts.cdnfonts.com/css/bricolage-grotesque");

:root {
  --h1_color: rgb(172, 113, 4);
  --grey: rgb(106, 106, 106);
}

body {
  font-family: "Bricolage Grotesque 10pt Condensed", sans-serif;
  background-image: linear-gradient(rgb(255, 157, 0), rgb(255, 255, 255));
  background-attachment: fixed;
  height: 1180px;
  transition: 0.3s;
}

h1 {
  text-align: center;
  font-size: 2.5em !important;
  color: var(--h1_color);
  text-transform: uppercase;
  text-shadow: 0 0 1rem;
}

h4 {
  text-align: center;
}

.steps {
  max-width: 50rem;
}

.steps p {
  font-size: larger;
}

h2 {
  font-size: 1.5em !important;
  color: var(--grey);
  text-transform: uppercase;
  text-shadow: 0 0 1rem black;
  padding-left: 10px;
}

.steps p .hangman_text {
  font-size: 2.5em !important;
  color: rgb(255, 198, 92);
  text-transform: uppercase;
  text-shadow: 0 0 1rem black;
}

.keyboard-base {
  max-width: 90%;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(30, 25px);
  grid-gap: 5px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.key {
  background-color: rgb(243, 243, 243);
  border: 2px solid black;
  border-radius: 10px;
  grid-column: span 3;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 17px;
  cursor: pointer;
}

.key:not(.correct, .wrong):hover {
  color: white;
  background-color: black;
}

.correct {
  background-color: rgb(0, 113, 0);
  color: rgb(255, 221, 0);
  cursor: default;
}

.wrong {
  background-color: rgb(31, 31, 31);
  color: white;
  border: 2px solid rgb(0, 0, 0);
  cursor: default;
}

.end {
  background-color: rgb(31, 31, 31);
  color: white;
  border: 2px solid rgb(0, 0, 0);
  cursor: none;
}

.lost {
  color: red;
}

.won {
  color: green;
}

.guesses {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -250%);
  font-size: 5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
  animation: fadeIn 5s;
}

.restart {
  align-items: center;
  text-align: center;
}

.restart button {
  border-color: transparent;
  outline-color: transparent;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(210, 151, 1);
  box-shadow: 0 0 10px;
  cursor: pointer;
  transition: 0.3s all;
  color: black;
  text-transform: lowercase;
}

.restart button:hover {
  transform: scale(1.2) translate(0px, 10px);
}

.settings {
  margin: auto;
  align-items: center;
  justify-content: center;
  display: grid; 
  text-align: center;
  grid-template-columns: 1fr 1fr;
}

#game_start {
  display: block;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 15rem;
  height: 3rem;
  color: white;
  background-color: rgba(255, 115, 0, 0.706);
  border-color: transparent;
  outline-color: transparent;
  border-radius: 20px;
  transition: .3s;
  transform: scale(1.2);
  cursor: pointer;
  font-size: larger;
  grid-column: 1/-1;
}

.settings h1 {
  grid-column: 1/-1;
}

#game_start:hover {
  transform: scale(1.5) translate(0px, -10px);
}

.difficulty,
.custom_word {
  margin: auto;
}

.settings h3 {
  color: rgba(144, 79, 26, 0.536);
}

.custom_word input {
  width: 220px;
  border-color: transparent;
  outline-color: transparent;
  box-shadow: 0 0 2px;
}

.custom_word input:hover {
  box-shadow: 0 0 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
